/* Skills Widget Styles */
.skills-widget {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 14px 24px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  width: 100%;
  max-width: 420px;
  row-gap: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Skills Widget Title Styles */
.skills-widget h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Skills Widget Content Paragraph Styles */
.skills-widget p {
  font-size: 16px;
  color: #777;
}

/* Skills Widget List Styles */
.skills-widget ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

/* Skills Item Styles */
.skills-item {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

/* Skills Item Image Styles */
.skills-item img {
  width: 52px;
  height: 52px;
}

/* Skills Item Content Styles */
.skills-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

/* Skills Item Content Title Styles */
.skills-item-content h3 {
  padding: 0;
  flex-shrink: 1;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Skills Item Proficiency Styles */
.skills-item-proficiency {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  height: 32px;
  background: #f0f0f0;
}

/* Proficiency Bar Styles */
.proficiency-bar {
  height: 100%;
  background-color: #14b8a6;
  border-radius: 4px;
  position: relative;
}
