/* Uses Section Styles (uses-section) */
.uses-section {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

/* Uses Section Content Styles (uses-section__content) */
.uses-section__content {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

/* Uses Section Group Styles (uses-section__group) */
.uses-section__group {
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 32px;
  padding-left: 16px;
  border-left: 2px solid #e0e0e0;
}

/* Uses Section Group Heading Styles (uses-section__group h2) */
.uses-section__group h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  min-width: 128px;
}

/* Uses Section Group Content Styles (uses-section__group-content) */
.uses-section__group-content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
